<!DOCTYPE html>
<html>
  <head>
    <title>Think Bank</title>
    <meta charset="utf-8">
	<link rel="stylesheet" href="css/bootstrap.css">	
	<link rel="stylesheet" href="css/style.css"> 
	<link rel="stylesheet" href="css/iThing.css">
	<link rel="stylesheet" type="text/css" href="css/DateTimePicker.css" />
	<script src="js/jquery-1.10.2.js" type="text/javascript"></script>
	<script src="js/DateTimePicker.js" type="text/javascript"></script>	
	<script src="js/jquery-ui-1.10.4.custom.min.js" type="text/javascript"></script>	

  </head>
  <body>
	<header>
	<!-- Conteúdo do cabeçalho -->
		<div class="login pull-right" style="margin-top:-20px;">	
			<!--<a href="index.html" class="btn btn-primary botao pull-right">Sair</a>-->
			<div class="btn-group" role="group" aria-label="...">
				<a href="login.html" type="button" class="btn btn-primary">Acessar outra conta</a>
				<a href="index.html"type="button" class="btn btn-warning">Sair</a>
			</div>			
		</div>    
        <h1>    	
			<img src="img/bank-icon.png" alt="Think Bank">	
			<span>T</span>hink Bank <small></small>
		</h1>
				<nav class="navbar">
			<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
				<li><a href="acesso-conta.html">Resumo</a></li>
				<li><a href="extrato.html">Extrato</a></li>
				<li><a href="#pagamento" data-toggle="tab">Pagamento</a></li>
				<li><a href="#cartao" data-toggle="tab">Cartão</a></li>
				<li><a href="#transferencia" data-toggle="tab">Transferência</a></li>
				<li><a href="#poupanca" data-toggle="tab">Poupança</a></li>
			</ul>
		</nav>	
		<nav class="navbar navbar-default sidebar" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>      
    </div>
    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Usuarios <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a>
          <ul class="dropdown-menu forAnimate" role="menu">
            <li><a href="{{URL::to('createusuario')}}">Crear</a></li>
            <li><a href="#">Modificar</a></li>
            <li><a href="#">Reportar</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">Informes</a></li>
          </ul>
        </li>          
        <li ><a href="#">Libros<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-th-list"></span></a></li>        
        <li ><a href="#">Tags<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-tags"></span></a></li>
      </ul>
    </div>
  </div>
</nav>
    </header>
	<section id="main">
	 <!-- Conteúdo principal -->
		<div>
				<div id="my-tab-content" class="tab-content">
sdssd
			</div>
		<div>		 
	</section>
   <section id="destaques" style="padding: 10px">
	 
	 </section>
	 <footer>
	 <div class="rodape">
	 </div>
    <!-- Conteúdo do rodapé -->
  </footer>
  <script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#tabs').tab();
    });
</script>  
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
  </body>

   
	<script>
	$(document).ready(function()
 {
   
   $("#dtBox").DateTimePicker();
   
   
 });
	</script>
	
	<script>
// Attach a submit handler to the form
$( "#pag" ).submit(function( event ) {
 
  // Stop form from submitting normally
  event.preventDefault();
 var codigo = $( "#codigoBarras" ).val();
 
});

	</script>
	
	
</html>