<!DOCTYPE html>
<html>
  <head>
    <title>Think Bank</title>
    <meta charset="utf-8">
	<link rel="stylesheet" href="css/bootstrap.css">	
	<link rel="stylesheet" href="css/style.css"> 
	<link rel="stylesheet" href="css/iThing.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap-datepicker.css" />
	<script src="js/jquery-1.10.2.js" type="text/javascript"></script>
	<script src="js/bootstrap-datepicker.js" type="text/javascript"></script>	
	<script src="js/Chart.min.js" type="text/javascript"></script>	
	<script src="js/jquery-ui-1.10.4.custom.min.js" type="text/javascript"></script>	
 <script type="text/javascript">
  window.onload = function () {
    var chart = new CanvasJS.Chart("chartContainer",
    {
      title:{
        text: "Visão mensal de operações na conta"
      },
      data: [
      {
       type: "doughnut",
       dataPoints: [
       {  y: 53.37, indexLabel: "Depósitos" },
       {  y: 35.0, indexLabel: "Saques" },
       {  y: 7, indexLabel: "Pagamento" },
       {  y: 2, indexLabel: "Estorno" },
       {  y: 5, indexLabel: "Transferências" }
       ]
     }
     ]
   });

    chart.render();
  }
  </script>
  <script type="text/javascript" src="js/canvasjs.min.js"></script>
  </head>
  <body>
	<header>
	<!-- Conteúdo do cabeçalho -->
		<div class="login pull-right" style="margin-top:-20px;">	
			<!--<a href="index.html" class="btn btn-primary botao pull-right">Sair</a>-->
			<div class="btn-group" role="group" aria-label="...">
				<a href="login.html" type="button" class="btn btn-primary">Acessar outra conta</a>
				<a href="index.html"type="button" class="btn btn-warning">Sair</a>
			</div>			
		</div>    
        <h1>    	
			<img src="img/bank-icon.png" alt="Think Bank">	
			<span>T</span>hink Bank <small></small>
		</h1>
		<nav class="navbar">
			<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
				<li><a href="acesso-conta.html?conta=" 	onclick="location.href=this.href+conta;return false;">Resumo</a></li>
				<li  class="active"><a href="extrato.html?conta=" 	onclick="location.href=this.href+conta;return false;">Extrato</a></li>
				<li><a href="pagamento.html?conta="	onclick="location.href=this.href+conta;return false;">Pagamento</a></li>
				</ul>
		</nav>

		<script>
				var getUrlParameter = function getUrlParameter(sParam) {
				var sPageURL = window.location.search.substring(1),
						sURLVariables = sPageURL.split('&'),
						sParameterName,
						i;
		
				for (i = 0; i < sURLVariables.length; i++) {
						sParameterName = sURLVariables[i].split('=');
		
						if (sParameterName[0] === sParam) {
								return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
						}
				
				}
			};
		
		var saldo1=0;
		var conta = getUrlParameter('conta');
				$.get( "http://localhost:8080/banco/saldo?conta="+conta, function( data ) {
				
					 saldo1 = data	});	
		</script>
    </header>

<div class="row">
  <div class="col-sm-7">		
<div id="my-tab-content" class="tab-content">
	 <!-- Conteúdo principal -->
	<div id="extrato-conta">
				
						<h1>Extrato <small id="string-data">Junho/2018</small><small id="string-fim-data"></small></h1>
						
				    <div class="extrato">					
						
							
									
										 <div class="input-daterange input-group" id="datepicker">
											<input type="text" class="input-sm form-control" name="start" id="start"/>
											<span class="input-group-addon">até	</span>
											<input type="text" class="input-sm form-control" name="end" id="end" />
										</div>
								
																				<table CLASS="table">
													<tr>
														<th><span class="glyphicon glyphicon-file"> </span> Número documento</th>           
														<th><span class="glyphicon glyphicon-comment"> </span> Descrição</th>
														<th><span class="glyphicon glyphicon-calendar"> </span> Data</th>
														<th><span class="glyphicon glyphicon-usd"> </span> Valor</th>
													</tr>
													<tr>
														<td>3221</td>
														<td>Depósito</td>
														<td>01/02/2018</td>
														<td>+ R$ 500,50</td>
													</tr>
													<tr>	   	
														<td>5643</td>
														<td>Resgate</td>
														<td>06/02/2018</td>
														<td>- R$ 200,50</td>
													</tr>
													<tr>	   	
														<td>890</td>
														<td>Depósito</td>
														<td>01/09/2018</td>
														<td>+ R$ 100,50</td>
													</tr>
												</table>
												<div class="fundo-verde pull-right"><p class="pull-right">Total: R$ 400,50</p></div>
								
					</div>	
    </div>	
	 <!-- Conteúdo principal -->

	
  </div>
  </div>
  <div class="col-sm-5">
  <div id="chartContainer" style="height: 300px; width: 70%;">
    </div>
	    </div>
		  </div>
		  <br>
   <section id="destaques" style="margin-top:100px">
 &nbsp;
 <div id="canvas-holder">
			<canvas id="chart-area" width="500" height="500"/>
		</div>
	 </section>
	 <footer>
	 <div class="rodape">
	 </div>
    <!-- Conteúdo do rodapé -->
  </footer>
  <script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#tabs').tab();
    });
</script>  
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
  </body>

   
	<script>
	$(document).ready(function()
 {
   /*
   $("#dtBox").DateTimePicker();
   */
   
 });
	</script>
	
	<script>
// Attach a submit handler to the form
$( "#pag" ).submit(function( event ) {
 
  // Stop form from submitting normally
  event.preventDefault();
 var codigo = $( "#codigoBarras" ).val();
 
});

	</script>
	<script>
	$('.input-daterange').datepicker({
    todayBtn: false,
    clearBtn: false,
    orientation: "top left",
	format: "dd/mm/yyyy",
	startDate: "03/06/2018",
    forceParse: false,
    todayHighlight: true,
    beforeShowMonth: function (date){
                    switch (date.getMonth()){
                      case 8:
                        return false;
                    }
                },
    toggleActive: true
});
	</script>
	
	<script>
	$(document).ready(function()
 {
   
   $( "#start" ).on('change',function() {
   var data_esc = $( "#start" ).val();
   var data_f_esc = $( "#end" ).val();
    
	if (data_esc != data_f_esc) {
	   $( "#string-data" ).text(data_esc);
	  
	}
});
  $( "#end" ).on('change',function() {
   var data_esc = $( "#start" ).val();
   var data_f_esc = $( "#end" ).val();
	if (data_esc != data_f_esc) {
	   
	   $( "#string-fim-data" ).text(' a ' + data_f_esc);
	}
});
   
 });
	</script>
	
		<script>
	$(document).ready(function()
 {
   
   $( "#tipoPag" ).on('change',function() {

var tipoPag = $( "#tipoPag option:selected" ).val();
  if (tipoPag == 'Débito em cartão de crédito')
  {
	$( "#spn-escolher-cartao" ).addClass("visible");
	$( "#escolher-cartao" ).addClass("visible");
  }
  else {
  $( "#spn-escolher-cartao" ).removeClass("visible");
	$( "#escolher-cartao" ).removeClass("visible");
  
  }
});
   
 });
	</script>
	

</html>