<!DOCTYPE html>
<html>
  <head>
    <title>Think Bank</title>
    <meta charset="utf-8">
	<link rel="stylesheet" href="css/bootstrap.css">	
	<link rel="stylesheet" href="css/style.css">
		<script src="js/jquery-1.8.3.min.js" type="text/javascript"></script>	
  </head>
  <body>
	<header>
	<!-- Conteúdo do cabeçalho -->
		<div class="login pull-right">	
			<label class="under">Acesse sua conta:</label>
			<input id="agencia" type="text"  placeholder="Agência" aria-describedby="basic-addon1"> 
			<input id="conta" type="text" placeholder="Conta" aria-describedby="basic-addon1">
			<a href="login.html" class="btn btn-primary botao pull-right">Entrar</a>
		</div> 
	<h1>       	
		<img src="img/bank-icon.png" alt="Think Bank">	
		<span>T</span>hink Bank <small></small>
	</h1>
    </header>
	<section id="main">
	 <!-- Conteúdo principal -->
        <div class="jumbotron" style="padding: 10px">
			<h1>Pensou em banco</h1>
			<p>Verifique seu extrato, realize pagamentos, personalize sua poupança.</p>
			<p><a class="btn btn-primary btn-lg" href="login.html" role="button">Acesse sua conta agora</a></p>
		</div>			 
	</section>
   <section id="destaques" style="padding: 10px;margin-bottom:5%">
	<div class="row">
		<div class="col-sm-6 col-md-4">
			<div class="thumbnail">
				
				<img src="img/icon-money.jpg" style="width: 30%; height: 30%" alt="Extrato">
				<div class="caption">
					<h3>Consultas de extrato</h3>
					<p>Acesse sua conta de maneira rápida e segura</p>
				</div>
				
				
			</div>
		</div>
				<div class="col-sm-6 col-md-4">
			<div class="thumbnail">
				<img src="img/money-hand.png" style="width: 30%; height: 30%" alt="Empréstimos">
				<div class="caption">
					<h3>Empréstimos</h3>
					<p>Simule empréstimos e escolha a melhor opção para você.</p>
				</div>
			</div>
		</div>
				<div class="col-sm-6 col-md-4">
			<div class="thumbnail">

				<img src="img/icon-poupanca.png" style="width: 30%; height: 30%" alt="Poupança">
				<div class="caption">
					<h3>Poupança</h3>
					<p>Organize e classifique sua poupança.</p>
				</div>
			</div>
		</div>
	</div>
	 </section>
	<footer>
		 <div class="rodape">
			<h4>Banco ThinkBank<small> pensado para você</small></h4>
		    <p>Aqui você pode realizar suas transições em segurança</p>
		    <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
			<span class="sr-only">SAC:</span>
			Consulte nosso SAC
			4004 0004
		 </div>
		<!-- Conteúdo do rodapé -->
	</footer>

  </body>
</html>