<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>amCharts examples</title>
      
        <script src="js/amcharts.js" type="text/javascript"></script>
        <script src="js/pie.js" type="text/javascript"></script>

        <script>
            var chart;

            var chartData = [
                {
                    "Operação": "Depósitos",
                    "Valor": 9252
                },
                {
                    "Operação": "Saques",
                    "Valor": 1882
                },
                {
                    "Operação": "Estorno",
                    "Valor": 1809
                },
                {
                    "Operação": "Pagamentos",
                    "Valor": 1322
                },
                {
                    "Operação": "Transferências",
                    "Valor": 1122
                }
            ];


            AmCharts.ready(function () {
                // PIE CHART
                chart = new AmCharts.AmPieChart();

                // title of the chart
                chart.addTitle("Visitors countries", 16);

                chart.dataProvider = chartData;
                chart.titleField = "Operação";
                chart.valueField = "Valor";
                chart.sequencedAnimation = false;
                chart.startEffect = "elastic";
                chart.innerRadius = "30%";
                chart.startDuration = 0;
                chart.labelRadius = 15;
				chart.colors = ["#FF0F00", "#FF6600", "#FF9E01", "#FCD202", "#F8FF01"];
                chart.balloonText = "[[title]]<br><span style='font-size:14px'><b>[[value]]</b> ([[percents]]%)</span>";
                // the following two lines makes the chart 3D
                chart.depth3D = 10;
                chart.angle = 15;

                // WRITE
                chart.write("chartdiv");
            });
        </script>
    </head>

    <body>
        <div id="chartdiv" style="width:600px; height:400px;"></div>
    </body>

</html>